{% extends 'web/body.html' %}
{% load static %}
{% block main %}
  <h3>Bienvenido a las web de venta e intercambio</h3>
  {% for category in categorys %}
<div class="card" style="width: 18rem; display: inline-block">
  <img class="card-img-top" src="/static/web/img/{{ category.img }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ category.title }}</h5>
      <p class="card-text">{{ category.descripcion }}</p>
      <a href="/nuevos productos/{{ category.id }}" class="btn btn-primary">VER PRODUCTOS</a>
    </div>
</div>
  {% endfor %}
{% endblock %}
